$def with (content)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="./static/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="/static/js/validate.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    
    <script src="./static/js/modal.js"></script>

    <title>Gothons From Planet Percal #25</title>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">A Python Site</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/hello">Greeting</a></li>
            <li><a href="/image">Image</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    
      <div class="jumbotron">
        <div class="container">
          <h1>A Python Site</h1>
          <p>Click the navbar to browse my site!</p>          
        </div>
      </div>

      <div align="center">
        $:content
      </div>      
    </div>

  </body>
</html>
